.menu {
    display: flex;
    flex-direction: column;
    gap: 60px
}

.puPuPlatterItem .menuItemDescription {
    font-size: 18px;
}

h2.isCenter {
    text-align: center;
}

.menuSection.isColumn .menuItems {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.menuSection.isColumn .menuItem {
    width: 48%;
    color: var(--white-text-color);
}

.menuSection.isColumn.isDrinksSection .menuItem {
    display: block;
    text-align: center;
}

.menuSection.isColumn .menuItemDescription {
    color: var(--pink-text-color);
}

.menuSection.isColumn .prices {
    text-align: center;
    color: var(--brown-text-color);
}

.menuSection.isColumn.isDrinksSection .prices {
    display: block;
}

.menuSection.isColumn .price {
    width: auto;
}

.menuItemDescription {
    font-size: 16px;
    color: var(--brown-text-color);
}

.menuItem.isSectionWithWhiteItem .menuItemDescription {
    color: var(--pink-text-color)
}

.price,
.priceLabel {
    width: 120px;
}

@media (max-width: 820px) {
    .menu h2 {
        font-size: 28px;
    }

    .menu h4 {
        font-size: 12px;
    }


    .puPuPlatterItem .menuItemDescription {
        font-size: 10px;
    }

    .menuItemDescription {
        font-size: 10px;
    }

    .price,
    .priceLabel {
        width: 80px;
    }
}