.footer {
    color: var(--pink-text-color);
    background-color: rgba(61, 44, 42, 0.5);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerContent {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 0;
    flex-wrap: wrap;
    margin: auto;
}

.dayOfWeekHours {
    display: flex;
    justify-content: space-between;
}