body {
    margin: 0;
}

.backgroundImage {
    background-attachment: fixed;
}

.header {
    height: 150px;
    background-color: rgb(61, 44, 42);
}

.headerLabel {
    width: 323px;
    height: 100px;
    background-color: rgb(152, 152, 151);
    margin: 20px 0 20px 0;
    position: absolute;
    text-align: center;
    color: rgb(61, 44, 42);
}

.headerLabel h1 {
    font-size: 40px;
    font-family: impact, impact-w01-2010, sans-serif;
    margin-top: 14px;
}

.backgroundOverlay {
    background-color: rgba(123, 89, 85, 0.85);
}