:root {
    --header-color: rgb(61, 44, 42);
    --background-color: rgb(152, 152, 151);
    --pink-text-color: rgb(251, 216, 212);
    --white-text-color: rgb(254, 253, 253);
    --brown-text-color: rgb(203, 202, 202);
}

body {
    margin: 0;
}

.App h1 {
    font-family: impact, impact-w01-2010, sans-serif;
}

.backgroundImage {
    background-attachment: fixed;
}

.header {
    height: 185px;
    background-color: var(--header-color);
    position: relative;
}

.headerLabel {
    width: 323px;
    height: 100px;
    background-color: var(--background-color);
    margin: 20px 0 20px 0;
    position: absolute;
    text-align: center;
    color: var(--header-color);
}

.headerLabel h1 {
    font-size: 40px;
    margin-top: 14px;
}

.nav {
    position: absolute;
    right: 40px;
    bottom: 20px;
    display: flex;
    gap: 20px;
    color: var(--white-text-color);
}

.navItem {
    cursor: pointer;
    font-size: 32px;
}

.navItem.isSelected {
    text-decoration: underline;
}

.backgroundOverlay {
    background-color: rgba(123, 89, 85, 0.85);
    max-width: 1120px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    color: var(--pink-text-color);
}

.content h1 {
    font-size: 70px;
    margin: 30px 0;
}


@media (max-width: 460px) {
    .header {
        height: 250px;
    }

    .nav {
        bottom: 0;
        width: calc(100% - 40px);
        margin: 20px 20px 35px 20px;
        text-align: center;
        justify-content: space-between;
        right: auto;
    }

    .content h1 {
        font-size: 50px;
    }
}