body {
    margin: 0;
}

.App h1 {
    font-family: impact, impact-w01-2010, sans-serif;
}

.backgroundImage {
    background-attachment: fixed;
}

.header {
    height: 150px;
    background-color: rgb(61, 44, 42);
}

.headerLabel {
    width: 323px;
    height: 100px;
    background-color: rgb(152, 152, 151);
    margin: 20px 0 20px 0;
    position: absolute;
    text-align: center;
    color: rgb(61, 44, 42);
}

.headerLabel h1 {
    font-size: 40px;
    margin-top: 14px;
}

.nav {
    position: absolute;
    right: 40px;
    top: 100px;
    display: flex;
    gap: 20px;
}

.backgroundOverlay {
    background-color: rgba(123, 89, 85, 0.85);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    color: rgb(251, 216, 212);
}

.content h1 {
    font-size: 70px;
    margin: 30px 0;
}